# Sales analysis project:

<h1>Context</h1><br>
<b>Objective:</b>
<ul>
    <li>In this Jupyternote book we are going to perform real world data science tasks on 12 months of sales data collected from an digital reatailer in the USA.</li>
</ul>
<b>Type of data</b>
<ul>
    <li>Each month has been collected as an individual csv file.</li>
    <li>Each csv file has 6 columns (Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Addres)</li>
    <li>As always for any dataset we need to make sure there are no missing values or duplicates values so as to avoid inconsistency while performing our analysis</li>
</ul>
<b>End goal</b>
<ul>
    <li>As a data scientist we are going to try to uncover hidden insights from the data (using data science that might not otherwise be visible to a normal person) that might pull in potential customers ultimately leading to increased in profits for the client(i.e digital store)</li>
    <li>We will be creating individual tasks/questions for each of our analysis that is performed</li>
</ul>

Import and check dependancies of python libraries for data science:

In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\gopi\softwares\anaconda\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\gopi\softwares\anaconda\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\gopi\softwares\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\gopi\softwares\anaconda\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\gopi\softwares\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\gopi\softwares\anaconda\lib\site-packages (1.19.2)

Import pandas library for dataframe creation and manipulation:

In [2]:
import pandas as pd

<h2>Task 1: Load data into dataframe from updated csv file:</h2>

Merge 12 months of sales data into a single 'all month.csv' file & load it into a pandas dataframe.<br>

Define the csv file location (dataset resides online)

In [3]:
csv_path = 'https://raw.githubusercontent.com/Gopiselvaraj-py/Gopi-Portfolio/main/Project%201/Sales%20data%20for%20project/All%20moths%20data/all_data.csv'

Create a pandas dataframe and load the data from the csv file into it:

In [4]:
df = pd.read_csv(filepath_or_buffer=csv_path)
df.head() # return the first 5 rows of the dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

<h1>Data pre-processing</h1>

Before starting our data analysis it is always best practise to check our dataframe for missing values:

In [5]:
# Evaluating for missing values 
n_df = df.isnull()

for x in n_df.columns.tolist():
    print(x)
    print(n_df[x].value_counts())
    print('\n')

Order ID
False    186305
True        545
Name: Order ID, dtype: int64


Product
False    186305
True        545
Name: Product, dtype: int64


Quantity Ordered
False    186305
True        545
Name: Quantity Ordered, dtype: int64


Price Each
False    186305
True        545
Name: Price Each, dtype: int64


Order Date
False    186305
True        545
Name: Order Date, dtype: int64


Purchase Address
False    186305
True        545
Name: Purchase Address, dtype: int64

<b>Dealing with missing values</b><br>
We are able to see there are 545 rows in the dataframe that have missing or Nan values that serve no purpose & therefore need to be dropped.

<b>Dimensions of the dataframe before drop:</b><br>
It is good practise to keep a note on dimensions of the dataframe before dropping values from the datarame

In [6]:
print(f'df -Shape before dropping Nan values : {df.shape}')
print(f'df -Size before dropping Nan values : {df.size}')

df -Shape before dropping Nan values : (186850, 6)
df -Size before dropping Nan values : 1121100

<b>We are going to drop rows where are values are NaN:</b>

In [7]:
# dropping rows with only Nan values
df.dropna(how='all',axis=0,inplace=True)

<b>Dimensions of the dataframe after drop:</b><br>
545 rows have been dropped from the dataframe

In [8]:
print(f'df -Shape before dropping Nan values :{df.shape}') # 186850 - 545 = 186305
print(f'df -Size before dropping Nan values : {df.size}')

df -Shape before dropping Nan values :(186305, 6)
df -Size before dropping Nan values : 1117830

<b> Evaluating for missing values after dropping</b>

In [9]:
n_df = df.isnull()

for x in n_df.columns.tolist():
    print(x)
    print(n_df[x].value_counts())
    print('\n')

Order ID
False    186305
Name: Order ID, dtype: int64


Product
False    186305
Name: Product, dtype: int64


Quantity Ordered
False    186305
Name: Quantity Ordered, dtype: int64


Price Each
False    186305
Name: Price Each, dtype: int64


Order Date
False    186305
Name: Order Date, dtype: int64


Purchase Address
False    186305
Name: Purchase Address, dtype: int64

<h2>Changing default data type:</h2>

By default pandas assings a data type to each column in the dataframe while loading data from a csv file

In [10]:
df.dtypes # check default datatypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

<u>Note</u>: Inappropriate dtype for columns 'Order ID','Quantity Ordered' & 'Price Each', need to convert to numeric type. (int/float)

<b>ValueError</b>

In [11]:
df['Order ID']= df['Order ID'].astype('int')
# you can see the function astype() got a ValueError, i.e, an invalid value (in this case 'Order ID') as i/p

ValueError: invalid literal for int() with base 10: 'Order ID'

In [ ]:
# let us check for the value 'Order ID' in df['Order ID']
df[df['Order ID'] == 'Order ID'] 
# 355 rows with column names as values

<b>Solution:</b>
- While concatenating the individual files into a single 'all_data.csv' file, the individual month's csv file column names also have been added as rows 
- Let us drop the obselete values:

In [ ]:
df_d1 = df[df['Order ID'] == 'Order ID'].index # get the index to pass into drop fucntion
df_d1

<b>Dimensions of the dataframe before drop:</b>

In [ ]:
print(f'df -Shape before dropping duplicate rows (having column name): {df.shape}')
print(f'df -Shape before dropping duplicate rows (having column name) : {df.size}')

<b>Drop duplicate values</b>

In [ ]:
df.drop(labels=df_d1,axis=0,inplace=True)

In [ ]:
print(f'Shape :{df.shape}') # 355 rows have been dropped || 186305 - 355 = 185950
print(f'Size : {df.size}')

<b>Now let us change the default datatype:</b>

In [ ]:
df.dtypes

In [ ]:
df.head(2)

In [ ]:
df['Order ID'] = df['Order ID'].astype('int') # convert Order ID each to int

In [ ]:
df['Quantity Ordered'] =  df['Quantity Ordered'].astype('int') # convert Quantity Ordered each to int

In [ ]:
df['Price Each'] = df['Price Each'].astype('float') # convert Price each to float

In [ ]:
df['Order Date'] = pd.to_datetime(arg=df['Order Date']) # convert Order Date to pandas datetime
df.head()

In [ ]:
# verify the dtypes post change
df.dtypes

<h2>Task 2: Add sales column and sorting the dataframe based on order date</h2>

<b>Sort</b> the dataframe based on 'Order Date', as it makes sense to have data sorted based on the date/time of purchase

In [ ]:
# soting the dataframe
df.sort_values(by='Order Date',axis=0,inplace=True,ignore_index=True)
df.head() # after sort

In [ ]:
# create a sales column
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [ ]:
df.head()

<hr>

<h2>Exploratory data analysis:</h2>

In [ ]:
df.tail() #check the last 5 rows of the dataframe

In [ ]:
df.shape #check the shape of the dataframe ; the dataframe has 186850 and 6 columns

In [ ]:
df.size #check the number of elements in the dataframe ; 186850 * 6 = 1121100

In [ ]:
df.columns.tolist() #check the columns of the dataframe

In [ ]:
df.describe() # return statistical analysis on the df

In [ ]:
df.describe(include='all',datetime_is_numeric=True) # return statistical analysis on the df including columns of type 'object'

In [ ]:
df.info()

<h1>Questions:</h1>

Using the below questions we are trying to understand the dataset better & uncover hidden insights from the data that are relevant in a real world scenario:

<h3>Question 1: What was the best month for sales? How much money was earned that month?</h3><br>
Let us create a <b>Month</b> column and add it to the dataframe:

In [ ]:
df['Month'] = df['Order Date'].dt.month
df.head() # columns have been added & df before sort

In [ ]:
month_result = df[['Month','Sales']].groupby(by='Month').sum()
month_result
#df.groupby(by='Month').sum()[['Sales']].sort_values('Sales',ascending=False)

<b>Data visualization - best month for sales month</b>

In [ ]:
import matplotlib.pyplot as plt # powerful data visualizing library
%matplotlib inline

plt.figure(figsize=(14,8))
month = range(1,13)
plt.bar(month,month_result['Sales'],color=['blue','blue','blue','blue','blue','blue','blue','blue','blue','blue','blue','red'])
plt.xlabel('Month')
plt.ylabel('Sales in USD ($)')
plt.title('Best month for sales')
plt.xticks(month)
plt.text(11.6,4.713443e+06,'December')
plt.show()

<b><u>Answering question 1:</u></b>
<ul>
    <li><b>December</b> was the best month for sales (January was the worst month for sales)</li>
</ul>
        
What does this tell us?
- People may tend to spend more money purchasing items/gifts during the christmas holiday season compared to the other months in a year.
- Possibly by the year end and start of the year people do not wish to spend more, immediately after christmas spendings.

<h3>Question 2: Which city has the highest number of sales?</h3>
Let us add a <b>'City'</b> column to the dataframe<br>
We will be extracting the name of the city along with the postal code from the Purchase Address column<br>
We will be defining 2 functions inorder to do that

In [ ]:
def get_city(x):
    return x.split(',')[1].strip()
def get_state(x):
    return x.split(',')[2].strip()[:2]

In [ ]:
df['City of purchase'] = df['Purchase Address'].apply(func=lambda x : x.split(',')[1] + '('+x.split(',')[2][0:3].strip()+')')
df.head()

In [ ]:
city_result = df[['Sales','City of purchase']].groupby(by='City of purchase').sum().sort_values(by='Sales')
city_result

<b> Data visualization- City having highest sales</b>

In [ ]:
plt.figure(figsize=(20,12))
plt.barh(y=city_result.index,width=city_result['Sales'],color=['blue','blue','blue','blue','blue','blue','blue','blue','blue','red'])
plt.xlabel('Money earned in USD($)')
plt.ylabel('City')
plt.title('City having highest sales')

<b><u>Answering question 2:</u></b>
<ul>
    <li>We are able to see that San Francisco, California contributed to the most sales compared to the rest of the cities</li>
</ul>    
What does this tell us?

- Possibly due to San Francisco being in close proximity to Silicone valey of about 27 miles, people over there may tend to spend their bank on digital devices (laptops, accessories, mobile phones)
- San Francisco also being a popular tourist destination could also be the reason where the city has many tourists spend more during they visit or stay.

<b>Question 3 : What time should we display advertisements to maximize likelihood of customer's buying products?</b>

Displaying ads might get the viewers attention but displaying them at the right time would reach a wider audience and pull in potential customers for the store. So let us find a right time to display ads

In [ ]:
 df.head()

In [ ]:
df['Hour'] = df['Order Date'].dt.hour
#df['Minute'] = df['Order Date'].dt.minute

In [ ]:
df.head()

<b>Grouping:</b>

In [ ]:
q3 = df[['Sales','Hour']].groupby('Hour').sum()
q3

<b>Data visualization - Best time to display ads:</b>

In [ ]:
y1 = range(0,24)

plt.figure(figsize=(18,10))
plt.plot(y1,q3['Sales'],ls='dotted',marker='o')
plt.text(19.2,2413968.54,'7 pm is the best time to play ads')
plt.xticks(y1)
plt.grid()

plt.show()

<b>Question 4: What product sold the most? Why do you think it sold most?</b>

It is a good idea to see product sells the most and why does it sell so?

In [ ]:
q4_a = df[['Quantity Ordered','Product']].groupby(by='Product').sum()
q4_a

<b>Data visualization -What product sold the most?</b>

In [ ]:
plt.figure(figsize=(18,10)) # you should first set the figure size before plotting
plt.bar(x=q4_a.index,height=q4_a['Quantity Ordered'])
plt.xticks(q4_a.index,rotation='vertical')

plt.show()

<b><u>Answering question 3:</u></b>
<ul>
    <li>We are able to see the most of the sales throught the year came from <i>AAA Batteries (4-pack)</i></li>
</ul>
What does this tell us?<br>
<ul>
    <li>It may not come as a surprise since most of the smaller modern digital appliances (TV remotes,flashlights) are electronic and are powered by <i>AAA Batteries (4-pack)</i> & might require somewhat frequent repalcement considering higher consumption of battery.</li>
</ul>

<b>Finaly let us analyze if the price of a product affects the quanitity of the product that is sold?</b>

In [ ]:
q4_b = df[['Product','Sales']].groupby('Product').mean()
q4_b

In [ ]:
q4_c = df.groupby(by='Product').mean()[['Price Each']]
q4_c

<b>Let us plot a sub-plot to comapare the sales and individual price of a product</b>

In [ ]:
fig, ax1 = plt.subplots()
ax2 = ax1.twinx()

ax1.bar(q4_a.index,height=q4_a['Quantity Ordered'],color='b')
ax1.set_xticks(ticks=q4_a.index)
ax1.set_xticklabels(labels=q4_a.index,rotation='vertical')


ax2.plot(q4_b.index, q4_c,color='g')

ax1.set_xlabel('Product')
ax1.set_ylabel('Quantity ordered', color='b')
ax2.set_ylabel('Price', color='g')

plt.show()

We are able to see a trend, that most of the lower priced products seem to sell more in quantity compared to the higher prices products